:root {
    --black   : #000000;
    --grey    : #ede9ea;
    --red     : #d90a42;
    --darkGrey: #b8b8b8;
    --white   : #ffffff;
}

.content-budget {
    width : 27%;
    height: auto;
    border: solid 1px var(--darkGrey);
}

.title-budget {
    color           : var(--black);
    background-color: var(--grey);
    padding         : 12px 12px;
    font-size       : 12px;
    text-align      : center;
}

.edit {
    width           : 100%;
    min-height      : 80px;
    background-color: var(--white);
    display         : flex;
    justify-items   : flex-start;
    justify-content : flex-end;
    align-content   : center;
    align-items     : center;
}

.edit button {
    color           : var(--white);
    border          : none;
    background-color: var(--red);
    margin-right    : 20px;
    padding         : 10px 20px;
    font-size       : .9em;
    font-weight     : 500;
}

.subtotal {
    width           : 100%;
    background-color: var(--grey);
    min-height      : 40px;
    display         : flex;
    flex-direction  : row;
    color           : var(--black);
    font-weight     : 600;
    justify-content : space-between;
    align-items     : center;
}
.bottom{
    padding-bottom: 20px;
}
.top{
    padding-top: 20px;
}
.subtotal span {
    margin-left: 24px;
    margin-right: 16px;
}

.total {
    display         : flex;
    width           : 100%;
    height          : 60px;
    flex-direction  : row;
    background-color: var(--black);
    color           : var(--white);
    font-weight     : 600;
    justify-content : space-between;
    align-items     : center;
}

.total span {
    margin-left : 24px;
    margin-right: 16px;
}


/*MEDIA QUERY*/
@media screen and (max-width:1024px) {
    .content-budget {
        width: 35%;
    }
}

@media screen and (max-width:768px) {}

@media screen and (max-width:600px) {
    .content-budget {
        margin-top: 16px;
        width     : 80%;
    }
}

@media screen and (max-width:480px) {}

@media screen and (max-width:320px) {}