:root {
    --black   : #000000;
    --grey    : #ede9ea;
    --red     : #d90a42;
    --darkGrey: #b8b8b8;
    --dark    : #322f3d;
}

.title-form {
    color        : var(--black);
    border-bottom: solid 3px var(--black);
    padding      : 16px 16px;
    font-size    : 14px;
}

.content-form {
    border: 2px solid var(--darkGrey);
    width : 68%;
    height: auto;
}

.form {
    width          : 100%;
    display        : flex;
    justify-items  : center;
    justify-content: center;
    align-content  : center;
    align-items    : center;
    flex-direction : column;
    flex-wrap      : wrap;
}

.content-inputs {
    width          : 60%;
    height         : 500px;
    display        : flex;
    justify-content: flex-start;
    justify-items  : flex-start;
    align-items    : center;
    align-content  : center;
    flex-direction : row;
    flex-wrap      : wrap;
}

.input-group {
    width          : 40%;
    height         : 44px;
    display        : flex;
    justify-content: flex-start;
    justify-items  : flex-start;
    align-items    : center;
    align-content  : center;
    border         : solid 1px var(--darkGrey);
    margin         : 16px;
}

.input-group i {
    background-color: var(--black);
    color           : white;
    font-size       : 24px;
    padding         : 10px 20px;
}

.input-form {
    border          : none;
    width           : 100%;
    padding-left    : 20px;
    font-size       : 1em;
    height          : 44px;
    background-color: transparent;
    border-bottom   : solid 1px transparent;
}

.input-form:focus {
    border-bottom: solid 1px var(--black);
}

.button-group {
    width          : 100%;
    display        : flex;
    justify-items  : flex-start;
    justify-content: flex-start;
    align-content  : center;
    align-items    : center;
    padding        : 16px 0;
    margin-left    : 16px;
}

.save {
    padding         : 8px 16px;
    font-size       : 1em;
    background-color: var(--black);
    border          : none;
    margin-left     : 10px;
    color           : white;
}

.directions {
    padding         : 8px 16px;
    font-size       : 1em;
    background-color: var(--black);
    border          : none;
    color           : white;
}

.checkbox {
    width          : 100%;
    display        : flex;
    justify-items  : flex-start;
    justify-content: flex-start;
    align-content  : center;
    align-items    : center;
    padding        : 16px 0;
    margin-left    : 16px;
    color          : var(--dark);

}

.checkbox label {
    margin-left: 16px;
}


/*MEDIA QUERY*/
@media screen and (max-width:1366px) {
    .content-inputs .checkbox .button-group {
        width          : 100%;
        justify-content: center;
        justify-items  : center;
    }

    .input-group {
        width : 40%;
        margin: 12px;
    }

    .input-form {
        font-size: .8em;
    }

    .checkbox {
        font-size: .8em;
    }

    .input-group {
        height: 35px;

    }

    .input-group i {
        height   : 35px;
        font-size: .5em;
        padding  : 11px 10px;
    }

    .input-form {
        font-size: .8em;
        height   : 35px;
    }
}

@media screen and (max-width:1024px) {
    .content-inputs {
        width: 90%;

    }

    .input-group {
        width : 40%;
        margin: 8px;
    }

}

@media screen and (max-width:768px) {
    .content-inputs {
        width : 90%;
        height: auto;
        justify-content: center;
        justify-items  : center;
    }

    .input-group {
        width : 40%;
        height: 30px;
        margin: 4px;
    }

    .input-group i {
        height   : 30px;
        font-size: .5em;
        padding  : 10px 10px;
    }

    .input-form {
        font-size: .8em;
        height   : 30px;
    }
    .button-group{
        width: 90%;
        padding: 10px;
    }
    .directions {
        width    : 50%;
        font-size: .8em;
    }

    .save {
        font-size: .8em;
        width    : auto;
    }
    .checkbox{
        width: 90%;
        padding: 10px;
    }

}

@media screen and (max-width:600px) {
    .content-inputs {
        display        : flex;
        height         : auto;
        width          : 100%;
        justify-content: center;
        justify-items  : center;
        align-items    : center;
        align-items    : center;
    }

    .input-group {
        width : 90%;
        height: 24px;
    }

    .input-group i {
        height   : 24px;
        font-size: .5em;
        padding  : 5px 10px;
    }

    .input-form {
        font-size: .8em;
        height   : 24px;
    }

    .form {
        height: auto;
    }

    .content-form {
        height        : auto;
        width         : 80%;
        padding-bottom: 16px;
    }

    .button-group{
        width: 100%;
    }
    .directions {
        width    : 70%;
        font-size: .8em;
    }

    .save {
        font-size: .8em;
        width    : auto;
    }
    .checkbox{
        width: 100%;
    }
    .checkbox label {
        font-size: .8em;
    }
}

@media screen and (max-width:480px) {}

@media screen and (max-width:320px) {}